db.sqlite3
.vscode/
.vs
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
media
.history
/env
.env 
.venv
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/
/__pycache__
__pycache__/
*.log
*.pot
*.pyc
/migrations
migrations/
/migrations/
uploads/
locale/
static/
data_json/
applicant/settings.py