{% extends "base.html" %}
{% load i18n %}
{% block login %} 

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">

          <div class="btn-group" style="margin-right:10px;">
            <form class="lang-form" action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" name="next" type="hidden" value="{{ request.path }}">
              <select class="dropdown-item btn-sm" name="language" onchange="this.form.submit()">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                      <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                          {{ language.name_local }}
                      </option>
                  {% endfor %}
              </select>
          </form>
        </div>
          
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="{% url 'home' %}" class="app-brand-link gap-2">

              <span class="app-brand-text demo text-body fw-bolder">YU Admission</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">{% trans "Приветствую тебя, абитуриент!" %}👋</h4>
          <p class="mb-4">{% trans "Эта платформа поможет тебе в поступлении в Yessenov University." %}</p>
          {% if form.errors %}
   <div class="alert alert-danger" role="alert">
    {% trans "Неверный логин или пароль." %}
   </div>
   {% endif %}


          <form id="formAuthentication" class="mb-3" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_login" class="form-label">Email</label>
              <input type="email" name="login" placeholder="E-mail address" autocomplete="email" required="" id="id_login" type="text" class="form-control" autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="id_password">Пароль</label>
                <a href="">
                  <small>{% trans "Забыли пароль?" %}</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" type="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">{% trans "Войти" %}</button>
            </div>
          </form>

          <p class="text-center">
            <span>{% trans "Нет аккаунта?" %}</span>
            <a href="{% url 'signup' %}">
              <span>{% trans "Зарегистрируйтесь!" %}</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>

{% endblock %}