{% extends "base.html" %}
{% load i18n %}
{% block logout %}

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="index.html" class="app-brand-link gap-2">

                <span class="app-brand-text demo text-body fw-bolder">YU Admission</span>
              </a>
            </div>
            <!-- /Logo -->
            <p class="mb-4">{% trans "Вы действительно хотите выйти?" %}</p>

            <form id="formAuthentication" class="mb-3"  method="POST">
              {% csrf_token %}

              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">{% trans "Выйти" %}</button>
              </div>
            </form>

            <p class="text-center">
              <a href="{% url 'home' %}">
                <span>{% trans "На главную страницу" %}</span>
              </a>
            </p>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>
{% endblock %}
